
<header class="header" [ngClass]="[navbarhide?'bVLcxx':'hLTFFw',navbarapperar?'leoCdG':'hLTFFw']">
    
  
    <div class="circle"></div> 
    <div class="center"></div>
    <a href="" class="logo">Krishnanand Anil.</a>
    <a class="git"  href="https://github.com/sudo-krish"><i class="fa fa-github"></i></a>
    <a class="links" href="https://www.linkedin.com/in/krishnanand-anil/"><i class="fa fa-linkedin-square"></i></a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    
    <ul class="menu">
      <li><a href="#Home">Home<div class="wave"></div> </a></li>
      <li><a href="#Contacts">Contacts <div class="wave"></div></a></li>    
    </ul>
    
</header>


<!--
<header>
       <div class="wrapper" >
            <div class="row">
                <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                    <section class="p-wrapper"></section>
                    <ul class="top">
                        <div class="circle"></div> 
                        <div class="center"></div>
                        <li>
                            <div class="typewriter">
                                Portfolio.
                              </div>
                        
                       </li>
                                 
                    </ul>
                    <input class="menu-btn" type="checkbox" id="menu-btn" />
                    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                    <ul class="menu">
                        <li>
                            <a href="#"> Home </a>
                        </li>
                        <li>
                            <a href="#"> About </a>
                        </li>
                        <li>
                            <a href="#"> Skills </a>
                        </li>
                        <li>
                            <a href="#"> Projects </a>
                        </li>
                        <li>
                            <a href="#"> Contact </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
</header>
-->