
<div class="p-wrapper" ></div>
<main class="fillHeight">

<section class="eEjAsd">

        <div class="heading">
           <h1> Hey there ✌, my name is</h1>
        </div>
        <div>
        <h2 class="big-heading">Krishnanand Anil.</h2></div>
<div><ngx-typed-js [strings]="['Data scientist.', 'Data Engineer.']"  [typeSpeed]="100" [backSpeed]="50" [smartBackspace]="true" [backDelay]="100" [showCursor]="true" [loop]="true" [loopCount]="3">
        <h3 class="big-heading">I am a  <span class="typing roles"></span></h3></ngx-typed-js></div>
        
<div><p>Nice to meet you stranger👋, I'm very passionate in creating and learning large scale data solutions. I have expertise in many data related roles, currently I'm a <a href="#" class="hover-underline-animation">Data Engineer </a>who has specialized in creating large scale data solutions. I have expertise creating near Real-time data ingestion pipelines for large scale KPI dashboards.  </p></div>
<br><br>
<a href="https://drive.google.com/file/d/1kolhfufwgrHZ9G5wjM8W7uHDBRd0A9Fd/view?usp=share_link" target="_blank">
        <button class="button-86" role="button">
                <span class="rainbow">Resume</span>
        </button>
</a>
</section>
</main>

<section class="About"  >
        <div class=" background-about justify-content-center" data-aos="zoom-in-up"  data-aos-easing="ease-in-sine">
                <div class=" wrapper-about">
                        <h2 class="big-heading">About Me </h2>
                        <p> Hello! My name is Krishnanand and I enjoy creating AI models, data pipelines and creating inferences from data. I started exploring and learning about data engineering and data science when i started working in CTS, from there i learned a lot of data engineering skills and made a passion on solving data related problems. <br><br>
                                        
                        Fast-forward to today, i am currently doing my Data-science masters through Work Integrated learning, I have started making and deploying multiple Machine learning models and started gaining new experiances and skills. and I’ve had the privilege of working at a Service based company, learning from one of the top universities and started making my own projects. My main focus these days are building multile data ingestion and transformation pipelines , script creation which are used for automation, transforming objects in S3 buckets and monitoring jobs , SQL queries based on business understanding for clubbing and making inferences from data for KPI dashboards.<br><br>
        
                        Here are a few technologies I’ve been working with recently:<br><br></p>
        
                        <ul class="list">
                                <li class="list-item arrow">Python</li>
                                <li class="list-item arrow">Informatica(cloud/powercenter)</li>
                                <li class="list-item arrow">Airflow</li>
                                <li class="list-item arrow">AWS S3</li>
                        </ul>
                                        
                               
                </div>

                <div class="col-sm-12 col-md-5 col-lg-4  container about-img" >
                        <div class="col-sm-12 img-circle" data-aos="fade-in" data-aos-delay="200" >
                                <div class="col-sm-12 col-lg-12 background-circle"></div>   
                                <img class="col-sm-12 col-lg-12 img" src="assets\img\me.png">
                        </div>
                        <div class="col-sm-12  order-sm-2 experiance" data-aos="fade-left"  data-aos-easing="ease-in-sine" >
                                <div class="number">
                                3
                                </div>
                                <div class="plus">
                                        +
                                </div>
                                <div class="content"><font color="black">YEARS OF</font> EXPERIANCE</div>
                        </div>
                        <div class="col-sm-12 order-sm-2  Projects" data-aos="fade-right" data-aos-easing="ease-in-sine">
                                <div class="number">
                                        20
                                </div> 
                                <div class="content"><font color="black">Completed</font> Projects</div> 
                        </div>
                                        
                </div>
                
        </div>
       
        
</section>
<section class="Skills">
        <div class="container ">
                <div class="row ">
                        <div class="col-sm-12 order-sm-2 col-md-6 order-md-2 col-lg-4 order-lg-1"> 
                                <div class="row justify-content-center">
                                        <div class="col-sm-12 box-shape " data-aos="fade-up-right"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-file-earmark-code-fill"></i> Programming skills</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Python</li>
                                                        <li class="list-item arrow col-sm-3">SQL</li>
                                                        <li class="list-item arrow col-sm-3">BASH scripting</li>
                                                        <li class="list-item arrow col-sm-3">CSS</li>
                                                        <li class="list-item arrow col-sm-3">HTML</li>
                                                        <li class="list-item arrow col-sm-3">Java script</li>
                                                </ul>
                                        </div>
                                        <div class="col-sm-12 box-shape " data-aos="fade-up-right"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-file-earmark-lock2-fill"></i> Data-Extraction &  Wrangling</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Pandas & Numpy</li>
                                                        <li class="list-item arrow col-sm-3">Json parsing</li>
                                                        <li class="list-item arrow col-sm-3">Handling missing values</li>
                                                        <li class="list-item arrow col-sm-3">Data transformation</li>
                                                        <li class="list-item arrow col-sm-3">Selenium scraping</li>
                                                        <li class="list-item arrow col-sm-3">API Extraction</li>
                                                </ul>
                                        </div>
                                        <div class="col-sm-12 box-shape" data-aos="fade-up-right"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-clipboard-data-fill"></i> EDA & Data visualization</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Univariate / Multivariate Analysis</li>
                                                        <li class="list-item arrow col-sm-3">Matplotlib, Seaborn, Plotly</li>
                                                        <li class="list-item arrow col-sm-3">BASH scripting</li>
                                                        <li class="list-item arrow col-sm-5">Power BI, Tablue</li>
                                                        <li class="list-item arrow col-sm-5">Outlier Analysis</li>
                                                        
                                                </ul>
                                        </div>
                                </div>
                        </div>
                        
                        
                        <div class="col-sm-12 order-sm-1 col-md-12 order-md-1 col-lg-4 order-lg-2 justify-content-center">
                                <div class="row justify-content-center">
                                        <div class="col-sm-12 col-md-3 col-lg-12 middle-logo-back"></div>
                                        <div class="col-sm-12 col-md-3 col-lg-12 middle-logo " data-aos="zoom-in-up"><li class="data-science"><h1><i class="bi bi-robot"></i> Data Science Skills</h1></li></div>
                                        <div class="col-sm-12 col-md-3 col-lg-12 middle-logo-back"></div>
                                </div>
                                
                        </div>
                        
                        
                        <div class="col-sm-12 order-sm-3 col-md-6 order-md-2 col-lg-4 order-lg-3">
                                <div class="row">
                                        <div class="col-sm-12 box-shape" data-aos="fade-up-left"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-database-fill"></i> Data-Engineering skills</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Informatica</li>
                                                        <li class="list-item arrow col-sm-3">Hadoop, Spark</li>
                                                        <li class="list-item arrow col-sm-3">Airflow</li>
                                                        <li class="list-item arrow col-sm-3">Map reduse, SQOOP, Yarn</li>
                                                        <li class="list-item arrow col-sm-3">ML Deployment</li>
                                                        <li class="list-item arrow col-sm-3">AWS</li>
                                                </ul>
                                </div>
                                        <div class="col-sm-12 box-shape" data-aos="fade-up-left"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-cpu-fill"></i> Machine Learning</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Supervised - classification, regression</li>
                                                        <li class="list-item arrow col-sm-3">Unsupervised - Clustering, Dimensipnality reduction</li>
                                                        <li class="list-item arrow col-sm-3">Reinforced learning - TF-Agents, Optimising rewards</li>
                                                        <li class="list-item arrow col-sm-3">Performance metrics- RMS, accuracy, confusion matrix, AUC_ROC</li>
                                                        <li class="list-item arrow col-sm-3">Statistical ML - KNN, Decision tree, bagging, boosting</li>
                                                        <li class="list-item arrow col-sm-3">Ensemble Models - Random forests, voting Classifiers</li>
                                                </ul>
                                        </div>
                                        <div class="col-sm-12 box-shape" data-aos="fade-up-left"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-person-fill-check"></i> People Skills</h1> 
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Active listening </li>
                                                        <li class="list-item arrow col-sm-3">Teamwork</li>
                                                        <li class="list-item arrow col-sm-3">Managing conflicts</li>
                                                        <li class="list-item arrow col-sm-3">Communicates Thoughts</li>
                                                        <li class="list-item arrow col-sm-3">Statistics and probability</li>
                                                        <li class="list-item arrow col-sm-3">Decision Making & Problem solving</li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

</section>
<div>sh</div>