
<div class="p-wrapper" ></div>
<main class="fillHeight">

<section class="eEjAsd">

        <div class="heading">
           <h1> Hey there ✌, my name is</h1>
        </div>
        <div>
        <h2 class="big-heading">Krishnanand Anil.</h2></div>
<div><ngx-typed-js [strings]="['Data Engineer.', 'Big Data Specialist.', 'ETL Developer.', 'AWS Data Engineer']"  [typeSpeed]="100" [backSpeed]="50" [smartBackspace]="true" [backDelay]="100" [showCursor]="true" [loop]="true" [loopCount]="3">
        <h3 class="big-heading">I am a  <span class="typing roles"></span></h3></ngx-typed-js></div>

<div><p>Nice to meet you! 👋 ,I’m deeply passionate about designing and learning large-scale data solutions that drive business insights and improve operational efficiency. With experience across various data-related roles, I have honed my skills as a <a href="#" class="hover-underline-animation">Data Engineer </a>, specializing in building scalable, near real-time data ingestion pipelines for large-scale KPI dashboards. My expertise lies in creating robust data architectures, optimizing ETL processes, and ensuring seamless data flows for real-time analytics. I enjoy tackling complex data challenges, from handling massive datasets to automating workflows, and I thrive on delivering solutions that empower businesses to make data-driven decisions.  </p></div>
<br><br>
<a href="https://drive.google.com/file/d/1-HcNEDahb4LZHz2QR1g_hNq4_Pk3mkVw/view?usp=drive_link" target="_blank">
        <button class="button-86" role="button">
                <span class="rainbow">Resume</span>
        </button>
</a>
</section>
</main>

<section class="About"  >
        <div class=" background-about justify-content-center" data-aos="zoom-in-up"  data-aos-easing="ease-in-sine">
                <div class=" wrapper-about">
                        <h2 class="big-heading">About Me </h2>
                        <p> Hello! I'm Krishnanand, a passionate Data Engineer with expertise in creating scalable data pipelines, automating workflows, and drawing meaningful insights from complex datasets. My journey in data engineering began during my time at Cognizant, where I developed a deep interest in solving data-related challenges, from ETL processes to data architecture design.<br><br>

                        Fast-forward to today, I have a Master’s in Data Science through Work Integrated Learning while continuing to expand my technical skills. I’ve had the opportunity to work with cutting-edge tools and platforms like AWS Glue, Redshift, Lambda, and PySpark, building robust batch and real-time data pipelines that drive business insights. My current focus is on developing multi-tenant data architectures, automating data ingestion from various sources, and optimizing large-scale data transformations in S3 data lakes. Additionally, I design SQL queries and build KPI dashboards that translate raw data into actionable business intelligence.<br><br>

                        Here are a few technologies I’ve been working with recently:<br><br></p>

                        <ul class="list">
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">AWS Glue</a> for scalable ETL pipelines</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">AWS Lambda</a> for serverless data orchestration</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">Amazon Redshift</a> for data warehousing and analytics</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">Amazon S3</a> for data lakes and storage optimization</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">AWS Kinesis</a> for real-time data streaming</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">AWS DMS</a> for database migration and replication</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">Apache Spark</a> and <a href="#" class="hover-underline-animation">PySpark</a> for large-scale data processing</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">AWS Step Functions</a> for workflow automation and orchestration</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">Amazon RDS</a> for transactional database management</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">SQL</a> for data querying and transformation</li>
                                <li class="list-item arrow"><a href="#" class="hover-underline-animation">SQS/SNS</a> for messaging and notification services</li>

                        </ul>


                </div>

                <div class="col-sm-12 col-md-5 col-lg-4  container about-img" >
                        <div class="col-sm-12 img-circle" data-aos="fade-in" data-aos-delay="200" >
                                <div class="col-sm-12 col-lg-12 background-circle"></div>
                                <img class="col-sm-12 col-lg-12 img" src="assets\img\me.png">
                        </div>
                        <div class="col-sm-12  order-sm-2 experiance" data-aos="fade-left"  data-aos-easing="ease-in-sine" >
                                <div class="number">
                                4
                                </div>
                                <div class="plus">
                                        +
                                </div>
                                <div class="content"><font color="black">YEARS OF</font> EXPERIANCE</div>
                        </div>
                        <div class="col-sm-12 order-sm-2  Projects" data-aos="fade-right" data-aos-easing="ease-in-sine">
                                <div class="number">
                                        20
                                </div>
                                <div class="plus">
                                        +
                                </div>
                                <div class="content"><font color="black">Completed</font> Projects</div>
                        </div>

                </div>

        </div>


</section>
<section class="Skills">
        <div class="container ">
                <div class="row ">
                        <div class="col-sm-12 order-sm-2 col-md-6 order-md-2 col-lg-4 order-lg-1">
                                <div class="row justify-content-center">
                                        <div class="col-sm-12 box-shape " data-aos="fade-up-right"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-file-earmark-code-fill"></i> Programming skills</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Python</li>
                                                        <li class="list-item arrow col-sm-3">SQL</li>
                                                        <li class="list-item arrow col-sm-3">BASH scripting</li>
                                                        <li class="list-item arrow col-sm-3">CSS</li>
                                                        <li class="list-item arrow col-sm-3">HTML</li>
                                                        <li class="list-item arrow col-sm-3">Java script</li>
                                                </ul>
                                        </div>
                                        <div class="col-sm-12 box-shape " data-aos="fade-up-right"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-file-earmark-lock2-fill"></i> Data-Extraction &  Wrangling</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Pandas & Numpy</li>
                                                        <li class="list-item arrow col-sm-3">Json parsing</li>
                                                        <li class="list-item arrow col-sm-3">Handling missing values</li>
                                                        <li class="list-item arrow col-sm-3">Data transformation</li>
                                                        <li class="list-item arrow col-sm-3">Selenium scraping</li>
                                                        <li class="list-item arrow col-sm-3">API Extraction</li>
                                                </ul>
                                        </div>
                                        <div class="col-sm-12 box-shape" data-aos="fade-up-right"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-clipboard-data-fill"></i> EDA & Data visualization</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Univariate / Multivariate Analysis</li>
                                                        <li class="list-item arrow col-sm-3">Matplotlib, Seaborn, Plotly</li>
                                                        <li class="list-item arrow col-sm-3">BASH scripting</li>
                                                        <li class="list-item arrow col-sm-5">Power BI, Tablue</li>
                                                        <li class="list-item arrow col-sm-5">Outlier Analysis</li>

                                                </ul>
                                        </div>
                                </div>
                        </div>


                        <div class="col-sm-12 order-sm-1 col-md-12 order-md-1 col-lg-4 order-lg-2 justify-content-center">
                                <div class="row justify-content-center">
                                        <div class="col-sm-12 col-md-3 col-lg-12 middle-logo-back"></div>
                                        <div class="col-sm-12 col-md-3 col-lg-12 middle-logo " data-aos="zoom-in-up"><li class="data-science"><h1><i class="bi bi-robot"></i> Data Science Skills</h1></li></div>
                                        <div class="col-sm-12 col-md-3 col-lg-12 middle-logo-back"></div>
                                </div>

                        </div>


                        <div class="col-sm-12 order-sm-3 col-md-6 order-md-2 col-lg-4 order-lg-3">
                                <div class="row">
                                        <div class="col-sm-12 box-shape" data-aos="fade-up-left"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-database-fill"></i> Data-Engineering skills</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">AWS Glue</li>
                                                        <li class="list-item arrow col-sm-3">AWS Lambda</li>
                                                        <li class="list-item arrow col-sm-3">AWS Step Function</li>
                                                        <li class="list-item arrow col-sm-3">AWS Cloud Watch</li>
                                                        <li class="list-item arrow col-sm-3">AWS EMR</li>
                                                        <li class="list-item arrow col-sm-3">AWS DMS</li>
                                                        <li class="list-item arrow col-sm-3">AWS Kinesis</li>
                                                        <li class="list-item arrow col-sm-3">AWS SQS</li>
                                                        <li class="list-item arrow col-sm-3">AWS SNS</li>
                                                        <li class="list-item arrow col-sm-3">AWS SES</li>
                                                        <li class="list-item arrow col-sm-3">AWS EC2</li>
                                                        <li class="list-item arrow col-sm-3">Open search</li>
                                                        <li class="list-item arrow col-sm-3">Hadoop, Spark, Pyspark</li>
                                                        <li class="list-item arrow col-sm-3">Airflow</li>
                                                        <li class="list-item arrow col-sm-3">Map reduse, SQOOP, Yarn</li>
                                                        <li class="list-item arrow col-sm-3">ML Deployment</li>
                                                        <li class="list-item arrow col-sm-3">AWS</li>
                                                </ul>
                                </div>
                                        <div class="col-sm-12 box-shape" data-aos="fade-up-left"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-cpu-fill"></i> Machine Learning</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Supervised - classification, regression</li>
                                                        <li class="list-item arrow col-sm-3">Unsupervised - Clustering, Dimensipnality reduction</li>
                                                        <li class="list-item arrow col-sm-3">Statistical ML - KNN, Decision tree, bagging, boosting</li>
                                                        <li class="list-item arrow col-sm-3">Deep Learning - CNNs, RNNs</li>
                                                </ul>
                                        </div>
                                        <div class="col-sm-12 box-shape" data-aos="fade-up-left"  data-aos-easing="ease-in-sine">
                                                <h1><i class="bi bi-person-fill-check"></i> People Skills</h1>
                                                <ul class="list">
                                                        <li class="list-item arrow col-sm-3">Active listening </li>
                                                        <li class="list-item arrow col-sm-3">Teamwork</li>
                                                        <li class="list-item arrow col-sm-3">Managing conflicts</li>
                                                        <li class="list-item arrow col-sm-3">Communicates Thoughts</li>
                                                        <li class="list-item arrow col-sm-3">Statistics and probability</li>
                                                        <li class="list-item arrow col-sm-3">Decision Making & Problem solving</li>
                                                </ul>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>

</section>
<div>sh</div>
